<!DOCTYPE html>
<!-- μ'sic Forever??? -->
<%- partial('partials/banner') %>
<html>
	<head>
<meta name="theme-color" content="#<%= theme.color %>" />
	 
		<!-- 所有head内容 -->
		<%- partial('partials/head') %>
	</head>
	<body>
		<!-- 加载的旋转 -->
		<%- partial('partials/loading') %>
		<% if(page.static){ %>
<%- partial('partials/static') %>
<% }else{ %>
<%- partial('partials/simple') %>
<% } %>
		<%- partial('partials/script') %>
		</div>
		
		<!-- 统计 -->
		<%- partial('partials/analytics') %>



		<!-- Live2d -->
		<%- live2d() %>
	</body>
		
</html>
