<!DOCTYPE html>
<!-- μ'sic Forever??? -->
<%- partial('partials/banner') %>
<html>
	<head>
	 <%- partial('partials/forcenohtml') %>
		<!-- 所有head内容 -->
		<%- partial('partials/head') %>
	</head>
	<body>
		<!-- 加载的旋转 -->
		<%- partial('partials/loading') %>
		<!-- 顶栏 -->
		<%- partial('partials/menu') %>
		
		<div class="pjax-container">
		<%- partial('partials/pjax') %>
		<!-- 开始分开了 -->
		<%- body %>
		<%- partial('partials/footer') %>
		<%- partial('partials/script') %>
		</div>
		
		<!-- 统计 -->
		<%- partial('partials/analytics') %>
	</body>
		
</html>